<%- include('./header.ejs', {path: '../'}); %>
<div class="main-container">
    <section class="space--sm">
        <div class="container">
            <div class="col-sm-7 col-md-5">
                <form action="/users/Nursultan" method="POST" >
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" placeholder="Password" name="password"/>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn--primary type--uppercase" type="submit">Send</button>
                        </div>
                    </div>
                    <!--end of row-->
                </form>
            </div>
        </div>
        <!--end of container-->
    </section>
<%- include('./footer.ejs', {path: '../'}); %>